$sidebar-bg-color: #000000;
$submenu-bg-color: #151213 !default;
$sidebar-color: #ffffff !default;
$icon-bg-color: #000000 !default;
$icon-size: 35px !default;
$highlight-color: #C7D532 !default;
$sidebar-width: 240px !default;
$sidebar-collapsed-width: 90px !default;

.main-sidebar{
    height: 100vh !important;
  }
@import '~react-pro-sidebar/dist/scss/styles.scss';