@font-face {
  font-family: "Poppins-Regular";
  src: local("PoppinsRegular"),
   url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("PoppinsMedium"),
   url("./fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins-Semibold";
  src: local("PoppinsSemibold"),
   url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("PoppinsBold"),
   url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: "Poppins-Regular",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
